# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Model Files
# Ignore joblib files
*.joblib

# Allow model files inside models folder
!models/*.pkl

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db